{% load i18n %}
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Exemplo Crud</title>
    {% block grafico %}{% endblock %}
</head>
<body>
    <div class="container text-center">
        {% block conteudo %} {% endblock %}
    </div>
{% bootstrap_javascript jquery='full' %}
<script src="https://kit.fontawesome.com/fd8b223bb9.js" crossorigin="anonymous"></script>
</body>
</html>