{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block conteudo %}

    <div class="container">
        {% bootstrap_css %}
        <div class="container">
            <h2 style="padding: 20px">{% trans 'Cadastre o produto desejado' %}</h2>
            {% bootstrap_messages %}
            <form style="text-align: justify; padding: 30px" action="{% url 'cadastro_produto' %}"
                  method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {{ captcha }}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">{% trans 'Cadastrar' %}</button>
                {% endbuttons %}
                <!--<input class="form-control" style="padding: 5px; color: chocolate" type="submit" value="Enviar">-->
            </form>
        </div>
        {% bootstrap_javascript jquery='full' %}
    </div>

{% endblock %}