{% extends "base.html" %}
{% load i18n %}

{% block grafico %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Gênero', 'Quant Produto'],
                {% for dado in tabela %}

                    ['{{ dado.genero }}', {{ dado.quant }}],

                {% endfor %}
            ]);

            let phrase = "{% trans 'Quantidade de Produtos por gênero' %}";
            var options = {
                title: phrase
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>

{% endblock %}

{% block conteudo %}
    <h1>{% trans 'Lista de Produtos' %}</h1>



    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans 'Cod' %}</th>
            <th>{% trans 'Descrição' %}</th>
            <th>{% trans 'Preço' %}</th>
            <th>{% trans 'Quantidade' %}</th>
            <th>{% trans 'Ação' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for p in produtos %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.descricao }}</td>
                <td>{{ p.preco }}</td>
                <td>{{ p.quantidade }}</td>
                <td>
                    <form action="{% url 'delete_produto' pk=p.id %}" method="post">
                        {% csrf_token %}&nbsp;&nbsp;
                        <a href="{% url 'update_produto' pk=p.id %}" class="btn btn-primary"
                           data-toggle="tooltip"
                           data-placement="bottom" title="{% trans 'Editar' %}"><i class="fa fa-edit"></i></a>

                        <button type="submit" class="btn btn-danger" data-toggle="tooltip"
                                data-placement="bottom" title="{% trans 'Apagar' %}"><i
                                class="fa fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <h1 style="padding-top: 50px">{% trans 'Relatórios Gráficos' %}</h1>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans 'Cod' %}</th>
                <th>{% trans 'Tipo' %}</th>
                <th>{% trans 'Ação' %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="font-weight: bold; font-size: 18px">1</td>
                <td style="font-weight: bold; font-size: 18px">{% trans 'Quantidade de produto por gênero' %}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'quantprodgenero' %}"
                           class="btn btn-info" data-toggle="tooltip" data-placement="bottom"
                           title="Visualizar"><i class="fa fa-eye"></i></a>
                    </div>
                </td>

            </tr>
            <tr>
                <td style="font-weight: bold; font-size: 18px">2</td>
                <td style="font-weight: bold; font-size: 18px">{% trans 'Quantidade de produto por descrição' %}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'quantprod' %}"
                           class="btn btn-info" data-toggle="tooltip" data-placement="bottom"
                           title="Visualizar"><i class="fa fa-eye"></i></a>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}
