{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block conteudo %}

    <div class="container">
    {% bootstrap_css %}
    <div class="container">
    <h2 style="padding: 20px">{% trans 'Altere o(s) o(s) campos que deseja no produto' %}</h2>
        {% bootstrap_messages %}
        <form style="text-align: justify; padding: 30px" action="{% url 'update_produto' object.id%}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">{% trans 'Alterar' %}</button>
            {% endbuttons %}
            <!--<input class="form-control" style="padding: 5px; color: chocolate" type="submit" value="Enviar">-->
        </form>
    </div>
    {% bootstrap_javascript jquery='full' %}
</div>

{% endblock %}